* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.about,
.projects,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-me {
  color: black;
  flex-direction: column;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  width: 70%;
  margin-top: 5rem;
  margin: 5rem auto -7rem;
  position: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.about-me-text {
  font-weight: 100;
  font-size: 22px;
  line-height: 175%;
  text-align: center;
  width: 70%;
  margin: 10rem auto -4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.bio {
  display: flex;
  flex-direction: row;
  width: 70%;
  position: relative;
  margin: 10rem auto 10rem;
}

.bio-text {
  margin: 0 0 0 2em;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .015em;
  font-weight: 500;
  margin-bottom: 16px;
  position: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.vincent-pic {
  max-width: 25em;
  max-height: 20em;
  width: auto;
  height: auto;
}

.projects {
  background-color: black;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.fade-in {
  transition: opacity 1s ease;
}